<html>
 <head>
  <title>Ansible Application</title>
 </head>
 <body>

 <!-- {{ ansible_managed }} -->
 </br>
{% for host in groups['apache-servers'] %}
{% if hostvars[host] %}
{% if hostvars[host]['ansible_hostname'] %}
 <!-- ansible_hostname {{ hostvars[host]['ansible_hostname'] }} -->
{% endif %}
{% if hostvars[host]['ansible_default_ipv4']['address'] %}
 <a href=http://{{ hostvars[host]['ansible_default_ipv4']['address'] }}/index.html>{{ hostvars[host]['ansible_fqdn'] }}</a>
{% endif %}
{% endif %}
{% endfor %}
 </br>
<?php 
 Print "Hello, World! I am a web server configured using Ansible and I am : ";
 echo exec('hostname');
 Print  "</BR>";
echo  "List of Databases: </BR>";
{% for host in groups['apache-servers'] %}
{% if hostvars[host]['ansible_default_ipv4'] %}
$con = mysqli_connect('localhost', '{{ mysql_user_password }}', '{{ mysql_user_password }}');
//$con = mysqli_connect('{{ hostvars[host].ansible_default_ipv4.address }}', '{{ mysql_user_password }}', '{{ mysql_user_password }}');
if( !$con ) // == null if creation of connection object failed
{ 
    // report the error to the user, then exit program
    die("connection object not created: ".mysqli_error($con));
}

if( mysqli_connect_errno() )  // returns false if no error occurred
{ 
    // report the error to the user, then exit program
    die("Connect failed: ".mysqli_connect_errno()." : ". mysqli_connect_error());
}
{% endif %}
        {% endfor %}
$res = mysqli_query($con ,"SHOW DATABASES");
while ($row = mysqli_fetch_array($res)) {
                echo $row['Database'] . "\n";
        }
?>
</body>
</html>

