<html>
 <head>
  <title>Ansible Application</title>
 </head>
 <body>
 <!-- {{ ansible_managed }} -->
 </br>
  <a href=http://{{ ansible_default_ipv4.address }}/index.html>Homepage</a>
 </br>
<?php 
 Print "Hello, World! I am a web server configured using Ansible and I am : ";
 echo exec('hostname');
 Print  "</BR>";
echo  "List of Databases: </BR>";
        {% for host in groups['nabla-servers'] %}
                $link = mysql_connect('{{ hostvars[host].ansible_default_ipv4.address }}', '{{ mysql_root_username }}', '{{ mysql_root_password }}') or die(mysql_error());
        {% endfor %}
        $res = mysql_query("SHOW DATABASES");
        while ($row = mysql_fetch_assoc($res)) {
                echo $row['Database'] . "\n";
        }
?>
</body>
</html>

